<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.diyviewstudy">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".page.WechatHeaderTest"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"></activity>
        <activity
            android:name=".page.WechatHeaderTest2"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"></activity>
        <activity
            android:name=".viewgroup.myLinearLayout.StatusBarTest"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".view.dymapView.DyMapViewTest" />
        <activity android:name=".view.gestureView.GestureViewTest" />
        <activity
            android:name=".view.screenMoveView.ScreenMoveTest"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".view.refreshView.PullToRefreshTest" />
        <activity android:name=".view.searchView.SearchViewTest" />
        <activity android:name=".viewgroup.flowLayout.FlowlayoutTest" />
        <activity android:name=".view.magnifyingView.MagnifyingTest" />
        <activity android:name=".view.gradientView.GradientTest" />
        <activity android:name=".view.headView.HeadViewTest" />
        <activity android:name=".view.telescopeView.TeleScopeViewTest" />
        <activity android:name=".view.clearEditView.ClearEditTest" />
        <activity android:name=".view.shadowLayer.ShadowTest" />
        <activity android:name=".viewgroup.myLinearLayout.MyLinearLayoutTest" />
        <activity android:name=".view.waveView.WaveTest" />
        <activity android:name=".view.canvasView.CanvasTest" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>